.git
.gitignore
node_modules
npm-debug.log
README.md
.next
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
docker-compose.yml
docker-compose.*.yml
Dockerfile
.dockerignore
.env*
.husky
.vscode
coverage
.eslintrc*
jest.config.*
.prettier* 